<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKb6cgwjTKxgSm9R7Lld9NfTMKHpeqbAI</string>
	<key>GCM_SENDER_ID</key>
	<string>365420004702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-31f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-31f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365420004702:ios:cac586c66dc494d75e7bcf</string>
</dict>
</plist>